attrs==23.2.0
backports.tarfile==1.1.1
certifi==2024.2.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
cx-Oracle==8.3.0
fiona==1.9.6
GeoAlchemy2==0.15.1
geopandas==0.14.4
greenlet==3.0.3
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
keyring==25.2.0
more-itertools==10.2.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
shapely==2.0.4
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
tzdata==2024.1
zipp==3.18.1
